
.overall{
  background-color: #e0f2f1;
  display: flex;
  justify-content: center;
}
/* Top section */
.card-1{
  background-color: white;
  border-radius: 10px;
  width: 550px;
   display: grid;
  
}
.top-section{
  padding: 32px;
}

.top-section h2{
  color: #009688;
}

.guarantee {
  color: #cddc39;
}

.description {
  color: #7b879d;
  line-height: 1.5;
}

/* Bottom section */
.card-2{
  display: grid;
  grid-template-columns: 1fr;
}

.subscription{
  padding: 32px;
  color: white;
   background-color: #009688;
}

.price {
  font-size: 16px;
}

.price span {
  font-size: 32px;
}


.subscription button {
  background-color: #cddc39;
  color: #333;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  height: 50px; 
  cursor: pointer;
  width: 100%;
}
/* bottom left card-3 */
.card-3 {
  padding: 32px;
  color: white;
  background-color: #26a69a;
   display: grid;
  grid-template-columns: 1fr;

}

.card-3  h3 {
  margin-bottom: 16px;
}

.card-3  ul {
  list-style: none;
}

.card-3  li {
  line-height: 1.8;
  color: #e0f2f1;
}

/* Responsive layout */
@media (min-width: 375px) {
  .card-2 {
    /* flex-direction: row; */
     grid-template-columns: 1fr 1fr;
  }

}